body{
	font-family: 'Cutive Mono';
}

.titleTyped{

	color: #009933;
	font-size: 30px;
}

.glyphicon{
	font-size: 18px;
	padding-right: 12px;
}

.jumbotron{
	background-color: #4d4d4d;
	color: white;
}

.well{
	background-color: white;
	color: #4d4d4d;
	border-color: white;
	box-shadow: none;
}

#typedName{
	padding-top: 300px;
	padding-bottom: 300px;
	background-color: black;
	text-align: left;
	margin-top: 0px;
}

#bio{
	padding-top: 100px;
	padding-bottom: 100px;
	padding-left: 50px;
	padding-right: 50px;
	background-color: #4d4d4d;
}

#projects{
	background-color: black;
	padding-bottom: 50px;
}

#projectsHeader{
	background-color: black;
}

#contact{
	padding: 75px;
	background-color: white;
}
#email{
	text-align: right;
}




@media (max-width: 768px) {
	.navbar{
		display: none;
	}
	#yt{
		width: 50%;
		height: 50%;
		display: block;
   		margin: 0 auto;
	}
	#email{
		text-align: center;
	}
	#phone{
		text-align: center;
	}
  }
